@import url('https://fonts.googleapis.com/css2?family=Anton&family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&effect=neon|outline|emboss|shadow-multiple');

/*basic styling*/
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

p{
    font-size: 25px;
    color:white;
    line-height: 1.5em;
    margin-bottom: 20px;
}

h1{
    color: white;
}

h1.honk {
  text-align: center;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3.5em;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  padding: 0.3em 0;
}

h2 {
  font-weight: 500;
  font-size:2.0em;
  padding: 0.3em 0;
  color: ghostwhite
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-style: normal;
  color: white;
}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
}

.intro {
  background-image: url("../img/city_skyline_night.jpg");
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.carousel-item {
  height: 100vh;
}

.carousel-textbox {
  background-color: black;
  opacity: 75%;
}

.carousel-img1 {
  background-image: url("../img/el_presidente.jpg");
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.carousel-img2 {
  background-image: url("../img/love_and_murder.jpg");
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.carousel-img3 {
  background-image: url("../img/13th_man.jpg");
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

@media screen and (max-width: 767px) {
  .nav-link {
    border: solid;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
  }
}